@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');



*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:#FEC706;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    
    
}

        .background{
            top: 10%;
            position: absolute;
            height:100%; 
        }

        .menu-nav{
            top: 0;
            background-color:#fff;
            position: absolute;
            width: 100vw;
            height: 100px;
            padding: 20px;
            display: flex;
            justify-content:  space-between;
            align-items: center;
        }
        
        
        .menu-nav .menuToggle img {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .menu-nav .perfil {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            user-select: none;
            cursor: pointer;
        }
        
        .menu-nav .perfil h3 {
            text-align: end;
            font-weight: 500;
            line-height: 1rem;
            color: #555
        }
        
        .menu-nav .perfil h3 span {
            font-size: .75rem;
            color: #777;
        }
        
        .menu-nav .perfil .imgCx {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
        }
        
        .menu-nav .perfil .imgCx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .menu-nav .menu {
            position: absolute;
            top: calc(100% + 30px);
            right: 0;
            width: 200px;
            min-height: 100px;
            background-color: #fff;
            box-shadow: 0 50px 50px rgba(0,0,0,.1);
            user-select: none;
            opacity: 0;
            visibility: hidden;
            transition: .5s;
        }
        
        .menu-nav .menu.ativo {
            z-index: 1;
            opacity: 1;
            visibility: visible;
        }
        
        .menu-nav .menu::before {
            content: '';
            position: absolute;
            top:-8px;
            right: 35px;
            width: 20px;
            height: 20px;
            background-color: #fff;
            transform: rotate(45deg);
            z-index: -1;
        }
        
        .menu-nav .menu ul {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            list-style: none;
        }
        
        .menu-nav .menu ul li {
            padding: 15px 20px;
            background-color: #fff;
            transition: .5s;
        }
        
        .menu-nav .menu ul li:hover {
            background-color: #f5f5f5;
            transition: 0s;
        }
        
        .menu-nav .menu ul li a {
            text-decoration: none;
            color: #666;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        
        .menu-nav .menu ul li a ion-icon {
            font-size: 1.25rem;
            color: #999;
        }

        .main-login{
            width: 100%;
            height: 80vh;
            background-color:#FEC706 ;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
        }


        .login{
            top: 5%;
            width: 100vw;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card-login{
            top: 15%;
            width:70%;
            height:80%;
            display: flex;
            justify-content: space-between;
            align-items: center ;
            flex-direction: column;
            padding: 20px 35px;
            background-color: #D9DCBA;
            border-radius: 20px;
            box-shadow: 0px 10px 40px #00000056 ;
            
        }
 
       .titulo{
        margin-top: 15px;
       
        justify-content: center;
        font-size: xx-large;
       
       }

        .textfield{
            height: 70px;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 10px 0px;
        }

        .textfield .inputs{
            position: relative;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 10px;
            padding: 15px;
            font-size: 12pt;
            box-shadow: 0px 2px 20px #00000056 ;
            outline: none;
            box-sizing: border-box;
        }

        .textfield #icon{   
            position: absolute ;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background: url('img/view.png');
            background-size: cover;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        .textfield #icon.hide{
            background: url('img/hide.png');
            background-size: cover;
        }

        .textfield #icon2{   
            position: absolute ;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background: url('img/view.png');
            background-size: cover;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        .textfield #icon2.hide{
            background: url('img/hide.png');
            background-size: cover;
        }

        .textfield label{
            color: black;
            margin-bottom: 10px;
        }

        .textfield input::placeholder{
            color: black;
            font-size: 23px;
            font-weight: 400;

        }

        .select-area{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            
        }

        .select-btn{
            margin: 10px 0px 10px 0px;
            width: 370px;
            display: flex;
            height: 70px;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            border-radius: 8px;
            cursor: pointer;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            z-index: auto;
        }

        .select-btn .btn-text{
            font-size: 23px;
            font-weight: 400;
            color: black;
        }
        .select-btn .arrow-dwn{
            display: flex;
            height: 21px;
            width: 21px;
            color: #000000;
            font-size: 14px;
            border-radius: 50%;
            background: #D9DCBA;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
        }
        .select-btn.open .arrow-dwn{
            transform: rotate(-180deg);
        }
        .list-items{
            width: 250px;
            top: 51%;
            height: auto;
            overflow: auto;
            position: absolute;
            margin-top: 15px;
            border-radius: 8px;
            padding: 16px;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            display: none;
            z-index: 1;
        }
        .select-btn.open ~ .list-items{
            display: block;
        }
        .list-items .item{
            display: flex;
            align-items: center;
            list-style: none;
            height: 50px;
            cursor: pointer;
            transition: 0.3s;
            padding: 0 15px;
            border-radius: 8px;
        }
        .list-items .item:hover{
            background-color: #e7edfe;
        }
        .item .item-text{
            font-size: 16px;
            font-weight: 400;
            color: #333;
        }
        .item .checkbox{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 16px;
            width: 16px;
            border-radius: 4px;
            margin-right: 12px;
            border: 1.5px solid #c0c0c0;
            transition: all 0.3s ease-in-out;
        }
        .item.checked .checkbox{
            background-color: #4070f4;
            border-color: #4070f4;
        }
        .checkbox .check-icon{
            color: #fff;
            font-size: 11px;
            transform: scale(0);
            transition: all 0.2s ease-in-out;
        }
        .item.checked .check-icon{
            transform: scale(1);
        }
        
        .semana{
            
            padding: 0 20px 0 10px;
        }

        .checkbox{
            background-color: rgb(255, 255, 255);
            width: 100%;
            margin-bottom: 10px;
            border: none;
            border-radius: 10px;
            font-size: 23px;
            box-shadow: 0px 10px 40px #00000056 ;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 10px;
            padding:15px ;
        }

        .checkbox-semana{
            background-color: rgb(255, 255, 255);
            width: 100%;
            height: 70px;
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            margin: 10px;
            border: none;
            border-radius: 10px;
            padding: 15px;
            font-size: 23px;
            box-shadow: 0px 2px 20px #00000056 ;
            outline: none;
            box-sizing: border-box;
        }
        

        .btn-login{
            height: 70px;
            width: 100%;
            padding: 16px 0px;
            margin: 25px;
            border: none;
            border-radius: 8px;
            outline: none;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 3px;
            cursor: pointer;
            box-shadow: 0px 10px 40px -12px;
            background-color:#FEC706;
            transition: transform .4s;
        }

        .btn-login:hover{
            filter: brightness(85%);
        }

        a{
            text-decoration: none;
            font-size: 20px;
        }

        a:hover{
            text-decoration: underline;
        }

        @media (max-height:900px){

            body{
                overflow-y:auto;
            }
            

            .titulo{
                font-size: xx-large;
                margin-top: 5px;
            }

            .select-btn{
                width: 370px;
                
                
            }

            .background{
                top: 15%;
                position: absolute;
                height:100%; 
            }

            .card-login{
                width:70%;
                height:100%;
                top: 30%;
                justify-content: space-between;
            }
            
            .login{
                margin-top: 10%;
                
            }

            .checkbox-semana{
                box-shadow: 0px 2px 20px #00000056 ;
            }

            .list-items{
                top: 63%;
            }


        }

        @media (max-width:600px) {
            /* de 0px até 767px */
            

            body *{
               
            }
        }